/* Common styles for all pages */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



/* Define a color scheme */
body {
  background-color: #f0f0f0; 
  font-family: Arial, sans-serif;
  margin: 0; 
  padding: 0; 
}


/* css for index page*/
#index-page{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#name {
  color: #FFA500; 
  text-align: center;
  margin-top: 60px;
  font-size: 46px;
  font-family: Courier New, Courier, monospace;
}
.myimg {
  width: 200px; 
  height: 200px;
  border-radius: 50%; 
  overflow: hidden; 
  background-color: #f0f0f0; 
  text-align: center;
}

.myimg img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

.desc {
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

.description {
  color: #555; 
  font-size: 20px;
  text-align:Center;
 
  padding: 40px;
  font-family: Courier New, Courier, monospace;
  border: 2px solid black; 
  border-radius: 5px; 
  width: 200px; 
 
    
   
}

.about-me {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 40px; 
  color: #333; 
  font-size: 29px;
  font-family: Georgia, Times, serif;
}


.college-info {
  color: #333;
  font-size: 25px;
  margin: 20px 20px;
  font-family: Georgia, Times, serif;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 40px; 
  
   
   
}

.website {
  color: #333;
  font-size: 25px;
  margin: 20px 20px;
  font-family: Georgia, Times, serif;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 40px; 
  
   
   
}
  

 .website a {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.website a:hover {
    background-color: green;
	transition: background-color 0.3s;
}

.website a:active {
    background-color: #1c669c;
}






#navigation {
   
  padding: 10px;
  text-align: center; 
  position: fixed; 
   top: 0;
   left: 1px;
   right: 1px;
   bottom: 8px;
   
}

#navigation a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#navigation a:hover {
  background-color: #2980b9;
  transition: background-color 0.3s;
}

#navigation a:active {
  background-color: #1c669c;
}




/* Resume Page (resume.html) styles */
#resume-page{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#resumeheading{
  color: #FFA500; 
  text-align: center;
  margin-top: 60px;
  font-size: 46px;
  font-family: Courier New, Courier, monospace;
}

#resume-page h2 {
	text-align: left;
	font-size: 29px;
	background-color: #c6f49e;
	padding:5px 10px;
	display: inline-block;
    margin-top: 20px;
    color: #FF6F61;
	font-family: Georgia, Times, serif;
	color: #333;
}

#resume-page p {
    font-size: 16px;
    margin: 10px;
}

/*projects page style */
#projects-page{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#projheading {
  color: #FFA500; 
  text-align: center;
  margin-top: 60px;
  font-size: 46px;
  font-family: Courier New, Courier, monospace;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
	
	 margin: 20px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	 position: relative;
	 background-size: cover; 
    background-position: center;
	align-items: center;
    justify-content: center;
}

.project {
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
   background-color: rgba(255, 255, 255, 0.6); 
}

.project h2 {
    font-size: 42px;
    color: #333;
    margin-bottom: 10px;
	font-family: Georgia, Times, serif;
}

.project p {
    font-size: 24px;
    margin: 10px 0;
}

.project img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
	position: absolute;
    top: 100%;
    left: 100%;
    width: 100%;
    height: auto;
}

#link {
 
    color: black;
  padding: 10px;
  text-align: center; 
   top: 0;
   left: 1px;
   right: 1px;
   bottom: 8px;
   
}

#link a {
  text-decoration: none;
  color: black;
  margin: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#link a:hover {
  background-color: #2980b9;
  transition: background-color 0.3s;
}

#link a:active {
  background-color: #1c669c;
}




#prevButton,
#nextButton {
    
    background-color: #0074D9;
	text-align: center;
	display: block; 
    margin: 20px auto; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#prevButton:hover,
#nextButton:hover {
    background-color: #0056A2;
    transition: background-color 0.3s;
}

/* Contact Page (contact.html) styles */
#contact-page{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#contheading {
  color: #FFA500; 
  text-align: center;
  margin-top: 60px;
  font-size: 46px;
  font-family: Courier New, Courier, monospace;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #0074D9;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #0074D9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056A2;
    transition: background-color 0.3s;
}
